# Projecto ETL Migracion a PostgreSQL

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
directorio = os.getcwd()
dataset_name = 'jio_mart_items.csv'

In [6]:
productos = pd.read_csv(os.path.join(directorio, dataset_name))

In [10]:
productos['category'].unique()

array(['Groceries', 'Home & Kitchen', 'Fashion', 'Electronics', 'Beauty',
       'Jewellery'], dtype=object)

In [16]:
category = pd.DataFrame({'category_name': np.unique(productos['category']),
                        'category_id': list(range(1, len(productos['category'].unique()) + 1))})
category

    category_name  category_id
0          Beauty            1
1     Electronics            2
2         Fashion            3
3       Groceries            4
4  Home & Kitchen            5
5       Jewellery            6